# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# MacOS (caso use em outro SO)
.DS_Store

# Arquivos de migração desnecessários (opcional)
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

# Outros
*.bak
*.swp
*.swo