.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: sans-serif;
  color: #333;
  background-color: #f0ede9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* Navbar */
header {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: #f0ede9;/* Transparência sutil */
  backdrop-filter: blur(3px); /* Efeito de desfoque */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Linha sutil */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 100;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  color: #fff;
  background-color: #333;
}

/* Barra de Pesquisa */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#search-bar {
  width: 300px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: box-shadow 0.3s;
}

#search-bar:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.search-result-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 4px;
  object-fit: cover;
}

.search-result-text {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

/* Estilo da área de informações do usuário */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os elementos */
}

/* Login */
.user-info a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--dynamic-bg-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.user-info a:hover {
  background-color: var(--dynamic-bg-color);
}

/* Dropdown da foto do usuário */
/* Oculta o checkbox */
.dropdown-checkbox {
  display: none;
}

/* Dropdown da foto do usuário */
.user-dropdown {
  position: relative;
}

.user-photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid var(--dynamic-bg-color);
  cursor: pointer;
  transition: border 0.3s;
}

/* Oculta o menu dropdown por padrão */
.dropdown-content {
  display: none;
  position: absolute;
  top: 110%; /* Posiciona logo abaixo da imagem */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 100px;
  z-index: 20;
}

/* Exibe o menu dropdown quando o checkbox está marcado */
.dropdown-checkbox:checked + label + .dropdown-content {
  display: block;
}

.dropdown-content span {
  display: block;
  color: #333;
  font-weight: 500;
  margin-bottom: 8px;
}

.dropdown-content a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #1c274c;
}
.btn-primary, .btn-secondary {
  background-color: #333;
  color: #fff;
  padding: 16px 28px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

/* Cartão de veículo */
.vehicle-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}

.vehicle-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Contêiner principal do veículo */
#vehicle_main {
  width: 100vw;
  height: 70vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#image_vehicle_main {
  width: 50%;
  height: 100%;
  z-index: 10;
  margin-bottom: 0%;
}


#informations_vehicle_main {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 0%;
  margin-top: 0%;
  justify-content: center;
  align-content: center;
}

#imagem_main {
  width: 100%;
  height: auto;
  margin-top: 15%;
  margin-left: 0%;
  cursor: pointer;
  transition: 0.4s;
}

#imagem_main:hover{
  margin-top: 12%;
}
#image_vehicle_main:hover #imagem_main {
  margin-top: 12%;
  transition: 0.4s;
}

#image_vehicle_main:hover + #div_color_main {
  background-color: #333;
  transition: 0.4s;
}










#model_vehicle_main {
  font-size: 7.5vw;
  font-weight: 900;
  position: relative;
  z-index: 10;
  margin-top: 0%;
  color: var(--dynamic-bg-color);
  filter: brightness(1.2);
  font-weight: bolder;
  font-style: italic;
  transition: 0.4s;
}






#button_vehicle_main {
  font-size: 1vw;
  background-color: var(--dynamic-bg-color);
  margin-top: 3%;
}

#div_color_main {
  position: absolute;
  width: 105%;
  height: 40%;
  left: 0%;
  top: 7%;
  background-color: var(--dynamic-bg-color);
  z-index: -1;
}

#status_vehicle_main {
  color: #333;
  font-size: 2.1vw;
  height: 0%;
  font-weight: lighter;
}

#description_vehicle_main {
  color: #333;
  font-size: 0.8vw;
  width: 80%;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
}















.sessao_veiculo{
  width: 50%;
  height: 50vh;
  background-color: transparent;
  display: flex;
  margin-left: 3%;
  margin-top: 2%;
  margin-right: 0%;
  margin-bottom: 2%;
}
/* Estilo para a lista de veículos */
.vehicle-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vehicle-card {
  background-color: #f9fafc;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  gap: 10%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  min-width: 40%;
}

.vehicle-card:hover {
  transform: scale(1.02);
}

.vehicle-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.vehicle-info {
  flex: 1;
}

.vehicle-info h3 {
  font-size: 1.6em;
  color: #333;
}

.vehicle-info p {
  font-size: 1.2em;
  color: #666;
}

.price {
  font-size: 1.4em;
  font-weight: bold;
  color: #e63946;
}

.btn-primary, .btn-secondary {
  background-color: #121a34;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  display: inline-block;
  margin-top: 10px;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #1c274c;
}

.filters, .vehicles-section {
  padding: 20px;
  max-width: 88%;
  margin: 1% auto;
  border-radius: 0%;
  background-color: #ffff;
  border-radius: 22px;
  margin-top: 21%;
}

.filters h2, .vehicles-section h2 {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  text-align: start;
}

#titulo_main_veichle {
  font-size: 3vw;
  color: #333;
  /* font-style: italic; */
  font-weight: bold;
  margin-left: 0%;
  /* letter-spacing: 7px; */

}



.title-section {
  display: flex;
  align-items: center;
  margin-left: 6%;
  gap: 10px;

}


.btn-view-all {
  display: inline-block;
  margin-left: 77%;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  vertical-align: middle;
  margin-top: -2%;
  position: absolute;
}

.btn-view-all:hover {
  background-color: #1c274c;
}


#banner{
  width: 90%;
  height: 10vh;
  background-color: #121a34;
  margin-top: 5%;
  margin-left: 5%;
}

#image_banner{
  width: 100%;
  height: auto;
  /*filter: brightness(0.3);*//
}

/*#text_banner{
  position: absolute;
  font-size: 7vw;
  color: #939393;
  top: 205%;
  z-index: 100;
  left: 23%;
  filter: brightness(1.3);
}*/